server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

service:
  identity:
      uri: ${IDENTITY_SERVICE_URI}
  store:
      uri: ${STORE_SERVICE_URI}
  search:
      uri: ${SEARCH_SERVICE_URI}

jwt:
  publicKey: ${JWT_PUBLIC_KEY}