apiVersion: apps/v1
kind: Deployment
metadata:
  name: store-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: store-app
  template:
    metadata:
      labels:
        app: store-app
    spec:
      containers:
        - name: store-app
          image: symryvvin/store:1.0
          envFrom:
            - configMapRef:
                name: store-app-config
            - secretRef:
                name: store-app-secret
          ports:
            - name: web
              containerPort: 8083
---
apiVersion: v1
kind: Service
metadata:
  name: store-svc
  labels:
    app: store-app
spec:
  selector:
    app: store-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: web
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: store-app-config
data:
  DB_NAME: store
  DB_HOST: store-db
  DB_PORT: "27017"
  DB_USERNAME: user
  ORDER_SERVICE_URI: order-svc.mtg:8080
---
apiVersion: v1
kind: Secret
metadata:
  name: store-app-secret
data:
  DB_PASSWORD: cGFzcw==